flask
flask-cors
requests
# upgrade pip first (recommended)
python -m pip install --upgrade pip

# install required Python packages listed in requirements.txt
python -m pip install -r requirements.txt
